<meta name="yandex-verification" content="69ecb718ff10d180" />
<meta name="yandex-verification" content="a4bd6af0befa8568" />
<script type='text/javascript' src='//pl17027676.trustedcpmrevenue.com/6f/33/50/6f3350f833e2571aa50df8fdbdfaeea2.js'></script>
<script type='text/javascript' src='//pl17027694.trustedcpmrevenue.com/8d/e9/f6/8de9f677dad81a2dbb9a2ed96502671b.js'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XHE45E984C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XHE45E984C');
</script>