<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7VQ4NYQEJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7VQ4NYQEJ');
</script>
<meta name="yandex-verification" content="4d42acd62f6c3fad" />
<meta name="yandex-verification" content="a5cddb9bd431441f" />
<script type='text/javascript' src='//pl17027673.trustedcpmrevenue.com/8b/b9/97/8bb997f037132e9db48e867bd7caf845.js'></script>
<script type='text/javascript' src='//pl17027685.trustedcpmrevenue.com/88/ab/0b/88ab0bf130234b932575faf1eedb4bee.js'></script>
